body{
    font-family:monospace;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

header a {
    padding: 10px;
}

header h1 {
    margin-left: 50px;
    color: white;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: crimson;
}

nav>a {
    padding:10px;
    margin:10px;
    border-style: solid;
    border-width: 2px;
    color:white;
}

.dropbtn {
    background-color: crimson;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 10px;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    /* flex-direction: column; */
    position: absolute;
    background-color: red;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    padding: 8px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
