body{
    font-family:monospace;
    background-color: black;
    color: white;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

header a {
    padding: 10px;
}

header h1 {
    margin-left: 50px;
    color: white;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: crimson;
    font-size: 16px;
}

nav>a {
    padding:10px;
    margin:10px;
    border-style: solid;
    border-width: 2px;
    color:white;
    text-decoration: none;
}

.dropbtn {
    background-color: crimson;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    font-family: monospace;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
        /* flex-direction: column; */
    position: absolute;
    background-color: red;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    padding: 8px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: crimson;
}

main {
    padding-left: 10px;
    background-color: gray;
    color: white;
}

main h1 {
    font-size: 36px;
    text-decoration: underline;
}

main nav {
    color: white;
    background-color: none;
}

main p {
    font-size: 18px;
}

main p strong {
    font: bold;
    font-size: 20px;
}

main table {
    font-size: 15px; 
}

footer p {
    color: gray;
    font-size: 12px;
    position: absolute;
    width: 80%;
    height: 30px;
}
.title {
    text-align: center;
    color: white;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-style: italic;
}

.page {
    text-align: center;
    color: lightgray;
    font-size: 20px;
}
.example {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 5px;
}

input[type="text"] {
    width: 50%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    font-size: 30px;
}

@media only screen and (min-device-width: 999px) {

    body h2 {
        text-align: center;
        color: white;
        font-size: 60px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-style: italic;
    }

@media only screen and (max-device-width: 998px) and (min-device-width: 400px) {

}

@media only screen and (max-device-width: 399px) {

    header h1 {
        font-size: 75px;
    }

    header a img {
        width: 175px;
        height: 175px;
    }

    nav {
        font-size: 32px;
    }

    .dropbtn {
        font-size: 32px;
    }

    .contact-form {
        font-size: 50px;
        display: flex;
        justify-content: left;
        flex-direction: column;
        justify-content: space-between;
    }

    .contact-form #name,#email,#message {
        width: 40%;
        height: 30px;
        margin-bottom: 40px;
    }

    .contact-form #message {
        margin-top: 40px;
        padding: 40px;
    }

    input[type=submit] {
        font-family: monospace;
        font-size: 50px;
        margin-bottom: 30px;
    }
}